rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Player profiles
    match /players/{playerId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == playerId;
    }

    // Inventory
    match /inventories/{playerId} {
      allow read: if request.auth != null && request.auth.uid == playerId;
      allow write: if request.auth != null && request.auth.uid == playerId;
    }
  }
}
